html body{
    margin: 0;
}

.main{
    background-image: url('../images/background.jpg');
    height: 100vh;
    background-size: cover;
    overflow: scroll;
}
.container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.left-side{

}
.right-side{

}
.card{
    width: 100%;
    border-radius: 4px;
    background-color: #161820;
    padding: 50px;
    color: #fff;
}

